

<panel panel-class="panel-primary" panel-title="title.pessoa" icon="glyphicon glyphicon-cloud">
	<form name="pessoaForm">
		<div class="panel-body">

			<oi label="tjasdjkhaskj" list="estados">
				bla ble {{item}}

			</oi>

			<data-table list="estados">

				<td>auhduhahudu</td>
			</data-table>
		</div>
		<list-button entity="entity" mode="mode" reset="baseReset();" load-dependencies="loadDependencies();" has-selected="hasSelected();"></list-button>
	</form>
</panel>
<!--
<panel panel-class="panel-primary" panel-title="ble ble" icon="glyphicon glyphicon-cloud">
	jjioqiuieioqu
</panel>

<accordion content-id="Estabelecimento" panel-class="panel-success" panel-title="Estabelecimento">
	wh3urwfnaopwqrjiop
</accordion>

<accordion content-id="Endereco" panel-class="panel-danger" panel-title="Endereço">
	878978456456
</accordion>


<h1>Home: {{valor}}</h1>
<form name="myForm">
	<input-text id="txtNomeDiretiva"
			label="label.pessoa.nomeDiretiva"
			hint="tooltip.pessoa.nomeDiretiva"
			placeholder="placeholder.pessoa.nomeDiretiva"
			mascara="CpfCnpj"
			ng-model="entity.nome"
			autofocus="false"
			ng-required="true">
	</input-text>

	{{entity.nome}}

	<input-text id="txtSobrenomeDiretiva"
			label="label.pessoa.sobrenomeDiretiva"
			hint="tooltip.pessoa.sobrenomeDiretiva"
			placeholder="placeholder.pessoa.sobrenomeDiretiva"
			ng-model="entity.sobrenome"
			autofocus="false"
			ng-required="true">
	</input-text>

	<input-number id="txtId"
			label="label.pessoa.number"
			hint="tooltip.pessoa.number"
			placeholder="placeholder.pessoa.number"
			ng-model="entity.sobrenome"
			autofocus="false"
			ng-required="true">
	</input-number>


	{{entity.sobrenome}}


	<check-box id="ckSelection"
			label="label.pessoa.selecionado"
			hint="tooltip.pessoa.selecionado"
			ng-model="entity.selecionado"
			autofocus="false"
			ng-required="true">
	</check-box>


	{{entity.selecionado}}

	<combo-box id="cmbEstado"
			label="label.pessoa.estado"
			hint="tooltip.pessoa.estado"
			ng-model="entity.estadoId"
			options="estados"
			value="id"
			name="id"
			autofocus="false"
			ng-required="true"></combo-box>

	{{entity.estadoId}}


	<base-button id="btnSave" label="fw.save" class="btn-success" ng-click="save()" icon="glyphicon glyphicon-floppy-disk"></base-button>

	<confirm-button id="btnSave" label="fw.delete" title="delete.title" message="delete.message" class="btn-danger" icon="glyphicon glyphicon-minus" yes-callback="remover();" no-callback="naoRemover();"></confirm-button>

</form> -->
