<td class="{{class}}">{{ getItemValue() }}</td>
<!--

	<h:column>
		<f:facet name="header">

       		<h:outputText value="#{sortField}" style="display: none;" styleClass="sortField"/>

			<h:panelGroup layout="block" style="float: left; text-align: left;">
       			<h:outputText value="#{msg[label]}" title="#{msg[titleHeader].concat('.')}" pt:data-toggle="tooltip"
    			pt:data-placement="top" styleClass="outputText"/>
    		</h:panelGroup>
    		<h:panelGroup layout="block" styleClass="iconSort" style="float: right; text-align: right;" rendered="#{not empty sortField}">
    			<span class="glyphicon glyphicon-sort"/>
    		</h:panelGroup>
       	</f:facet>
       	<h:outputText value="#{value}" title="#{msg[titleRow].concat('.')}" pt:data-toggle="tooltip"
    		pt:data-placement="top" styleClass="outputText"/>
    </h:column>
 -->