<div class="form-group sgr-form-group" >
	<label ng-if="hasLabel()" class="control-label" for="{{id}}">{{label}}:<b ng-if="ngRequired" style="color: red;" >&nbsp;*</b></label>

	<select id="{{id}}" name="{{id}}"
		data-toggle="tooltip" data-placement="top"
		title="{{hint}}"
		ng-model="ngModel"
		ng-options="selectValue(option) as option[name] for option in options"
		ng-disabled="ngDisabled"
		ng-required="ngRequired"
		ng-change="ngChange();"
		ng-blur="ngBlur();"
		class="form-control">

		<option value="">{{emptyMessage}}</option>
	</select>
</div>