<div class="panel {{panelClass}}">
	<div class="panel-heading panel-title">
		<a id="{{linkId}}" role="button"  data-toggle="collapse" onclick="accordionToggle(this);" >
			<h4 class="panel-title">
				 <i class="{{icon}}"></i>
				 <span>{{panelTitle}}</span>
			</h4>
		</a>
	</div>
	<div id="{{contentId}}" class="panel-collapse collapse paddedContainer in" >
		<div class="panel-body">
			<div id="row clearfix">
				<div class="table-responsive" ng-show="list.length > 0">
					<table class="table table-striped table-bordered table-hover table-condensed table-selection" style="margin: 0px !important;">
						<thead class="table-header">
							<tr>
								<td  class="col-xs-1">{{i18n(label.acao)}}</td>
							</tr>
						</thead>
						<tbody>

							<tr>
								<td class="col-xs-1 text-center" >
									<span ng-show="!item.editing" ng-disabled="editMode && !item.editing">
										<button ng-disabled="editMode" type="button" ng-click="edit(item);" class="btn btn-primary btn-sm" translate title="label.editar">
											<span class="glyphicon glyphicon-pencil"></span>
										</button>

										<button ng-disabled="editMode" type="button" ng-click="remove(item);" class="btn btn-danger btn-sm" translate title="label.remover">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									</span>

									<span ng-show="item.editing" ng-disabled="editMode && !item.editing">
										<button  type="button" ng-click="save(item);" class="btn btn-success btn-sm" translate title="label.editar">
											<span class="glyphicon glyphicon-floppy-disk"></span>
										</button>
										<button type="button" ng-click="cancel(item);" class="btn btn-danger btn-sm">
											<i class="glyphicon glyphicon-chevron-left"></i>
										</button>
									</span>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="row sgr-row">
				<div class="col-xs-12 text-center form-group sgr-form-group">
					<button ng-disabled="editMode" type="button" ng-click="newItem()" class="btn btn-success">
							<i class="glyphicon glyphicon-plus"></i>
							<span>{{i18n(label.adicionar)}}</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

